@import '../../../static/styles/common.less';
@gray: #f6f6f6; // 提单页背景
@red: #ff2d4b; // 外卖红
@font-gray: #808080;
@font-gray2: #a9a9a9;
@black: #333;
@white: #fff;
@white2: #fffefe;
.setBG(@url, @w, @h) {
    background: url(@url) no-repeat;
    width: @w;
    height: @h;
    background-size: 100% 100%;
}

.icon-before(@bg: './img/i_rule.png', @w: 28px, @h: 28px) {
    &:before {
        content: '';
        display: block;
        .setBG(@bg, @w, @h);
        margin-right: 10px;
    }
}

html,
body {
    background-color: @gray;
    .confirm-page {
        .titlebar-wrap {
            &.accessTitle {
                margin-top: 70px;
            }
            &.periodTitle {
                margin-top: 0;
            }
        }
        .access-wrap {
            margin: 50px 0 30px 0;
        }
        .select-period {
            background-color: @white;
            width: 720px;
            height: 280px;
            margin: 50px auto;
            border-radius: 25px;
            padding-top: 35px;
            .radio-wrap {
                // width: 660px;
                width: 650px;
                height: 220px;
                margin-left: 60px;
                .radio-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .v-height(110px);
                    border-bottom: 1px solid @font-gray;
                    .text {
                        font-size: 32px;
                        color: @black;
                        margin-left: 5px;
                    }
                    .radio {
                        margin-right: 24px;
                        .setBG('../../../static/img/i_unselected.png', 44px, 44px);
                        [data-dpr=3]& {
                            .setBG('../../../static/img/i_unselected3x.png', 66px, 66px);
                        }
                        &.selected {
                            .setBG('../../../static/img/i_selected.png', 44px, 44px);
                            [data-dpr=3]& {
                                .setBG('../../../static/img/i_selected3x.png', 66px, 66px);
                            }
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
        .agree-wrap {
            display: flex;
            align-items: center;
            color: @font-gray2;
            margin-left: 35px;
            .radio {
                margin-right: 24px;
                .setBG('../../../static/img/i_unagree.png', 29px, 29px);
                [data-dpr=3]& {
                    .setBG('../../../static/img/i_unagree3x.png', 44px, 44px);
                }
                &.selected {
                    .setBG('../../../static/img/i_agree.png', 29px, 29px);
                    [data-dpr=3]& {
                        .setBG('../../../static/img/i_agree3x.png', 44px, 44px);
                    }
                }
            }
            a {
                color: @font-gray2;
            }
        }
        .buy-card {
            width: 700px;
            .v-height(90px);
            text-align: center;
            color: @white2;
            font-size: 32px;
            background-color: @red;
            border-radius: 6px;
            margin: 0 auto;
            margin-top: 76px;
        }
    }
}
