@import '../../../static/styles/public.less';
.setBG(@url, @w, @h) {
    background: url(@url) no-repeat;
    width: @w;
    height: @h;
    background-size: 100% 100%;
}
.swipe-wrap {
	width: 2000px;
	display: flex;
	margin-top: 40px;
	// width: 750px;
	// overflow: hidden;
	// position: relative;
}
